<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>row_popup.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,6},{956,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{956,41}}</string>
        <key>sourceSize</key>
        <string>{956,41}</string>
      </dict>
      <key>txt_20dongcuoc.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,974},{176,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,28}}</string>
        <key>sourceSize</key>
        <string>{176,28}</string>
      </dict>
      <key>line_popup.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,6},{896,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{896,6}}</string>
        <key>sourceSize</key>
        <string>{896,6}</string>
      </dict>
      <key>off.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,914},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>frame_jack.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,6},{664,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{664,126}}</string>
        <key>sourceSize</key>
        <string>{664,126}</string>
      </dict>
      <key>thanhcuoc.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,682},{165,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,280}}</string>
        <key>sourceSize</key>
        <string>{165,280}</string>
      </dict>
      <key>frame_hu.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,682},{269,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{269,54}}</string>
        <key>sourceSize</key>
        <string>{269,54}</string>
      </dict>
      <key>on.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,974},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>frame_luotquaymienphi.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,6},{430,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{430,58}}</string>
        <key>sourceSize</key>
        <string>{430,58}</string>
      </dict>
      <key>btn_bochon.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,448},{200,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,74}}</string>
        <key>sourceSize</key>
        <string>{200,74}</string>
      </dict>
      <key>title_avengers.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,6},{305,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,125}}</string>
        <key>sourceSize</key>
        <string>{305,125}</string>
      </dict>
      <key>btn_cuoc.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,323},{112,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{112,122}</string>
      </dict>
      <key>btn_chan.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,447},{200,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,74}}</string>
        <key>sourceSize</key>
        <string>{200,74}</string>
      </dict>
      <key>frame_phien.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,659},{260,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,58}}</string>
        <key>sourceSize</key>
        <string>{260,58}</string>
      </dict>
      <key>thanhcuoc_selected.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,931},{153,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,87}}</string>
        <key>sourceSize</key>
        <string>{153,87}</string>
      </dict>
      <key>btn_dongy.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,447},{200,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,74}}</string>
        <key>sourceSize</key>
        <string>{200,74}</string>
      </dict>
      <key>btn_dong.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,323},{112,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,97}}</string>
        <key>sourceSize</key>
        <string>{112,97}</string>
      </dict>
      <key>btn_hu0.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,659},{200,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,74}}</string>
        <key>sourceSize</key>
        <string>{200,74}</string>
      </dict>
      <key>btn_hu1.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,447},{200,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,74}}</string>
        <key>sourceSize</key>
        <string>{200,74}</string>
      </dict>
      <key>btn_le.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,447},{200,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,74}}</string>
        <key>sourceSize</key>
        <string>{200,74}</string>
      </dict>
      <key>btn_tatca0.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,659},{200,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,74}}</string>
        <key>sourceSize</key>
        <string>{200,74}</string>
      </dict>
      <key>btn_quay.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,871},{145,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,125}}</string>
        <key>sourceSize</key>
        <string>{145,125}</string>
      </dict>
      <key>btn_tatca1.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,659},{200,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,74}}</string>
        <key>sourceSize</key>
        <string>{200,74}</string>
      </dict>
      <key>bottom_avanger.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,6},{1258,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1258,131}}</string>
        <key>sourceSize</key>
        <string>{1258,131}</string>
      </dict>
      <key>btn_stop.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,6},{145,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,125}}</string>
        <key>sourceSize</key>
        <string>{145,125}</string>
      </dict>
      <key>btn_sieutoc.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,6},{104,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,90}}</string>
        <key>sourceSize</key>
        <string>{104,90}</string>
      </dict>
      <key>btn_tuquay.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,122},{104,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,90}}</string>
        <key>sourceSize</key>
        <string>{104,90}</string>
      </dict>
      <key>btn_next.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,143},{105,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,151}}</string>
        <key>sourceSize</key>
        <string>{105,151}</string>
      </dict>
      <key>frame_tongcuoc.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,260},{171,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,98}}</string>
        <key>sourceSize</key>
        <string>{171,98}</string>
      </dict>
      <key>Symbol_Ace.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,260},{169,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,170}}</string>
        <key>sourceSize</key>
        <string>{169,170}</string>
      </dict>
      <key>frame_sodu.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,149},{196,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,98}}</string>
        <key>sourceSize</key>
        <string>{196,98}</string>
      </dict>
      <key>icon_back.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,238},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>frame_thang.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,442},{196,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,100}}</string>
        <key>sourceSize</key>
        <string>{196,100}</string>
      </dict>
      <key>icon_caidat.png</key>
      <dict>
        <key>frame</key>
        <string>{{1959,6},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>icon_close.png</key>
      <dict>
        <key>frame</key>
        <string>{{1959,76},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>icon_cup.png</key>
      <dict>
        <key>frame</key>
        <string>{{1959,146},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>Symbol_Bonus.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,650},{169,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,170}}</string>
        <key>sourceSize</key>
        <string>{169,170}</string>
      </dict>
      <key>Symbol_Jack.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,832},{169,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,170}}</string>
        <key>sourceSize</key>
        <string>{169,170}</string>
      </dict>
      <key>Symbol_King.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,442},{169,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,170}}</string>
        <key>sourceSize</key>
        <string>{169,170}</string>
      </dict>
      <key>Symbol_Queen.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,259},{169,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,170}}</string>
        <key>sourceSize</key>
        <string>{169,170}</string>
      </dict>
      <key>Symbol_Scatter.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,624},{169,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,170}}</string>
        <key>sourceSize</key>
        <string>{169,170}</string>
      </dict>
      <key>Symbol_Wild.png</key>
      <dict>
        <key>frame</key>
        <string>{{938,441},{169,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,170}}</string>
        <key>sourceSize</key>
        <string>{169,170}</string>
      </dict>
      <key>btn_choithat.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,259},{158,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,58}}</string>
        <key>sourceSize</key>
        <string>{158,58}</string>
      </dict>
      <key>icon_huongdan.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,149},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>icon_lichsu.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,149},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>icon_musicoff.png</key>
      <dict>
        <key>frame</key>
        <string>{{1035,149},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>btn_choithu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,228},{158,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,58}}</string>
        <key>sourceSize</key>
        <string>{158,58}</string>
      </dict>
      <key>icon_musicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1105,149},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>prev.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,806},{104,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>icon_soundoff.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,806},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>icon_soundon.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,885},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>maingame.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>maingame</string>
    </dict>
  </dict>
</plist>
