<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>popup.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,6},{1140,609}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1140,609}}</string>
        <key>sourceSize</key>
        <string>{1140,609}</string>
      </dict>
      <key>info/banghuongdan.png</key>
      <dict>
        <key>frame</key>
        <string>{{1158,6},{856,449}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{856,449}}</string>
        <key>sourceSize</key>
        <string>{856,449}</string>
      </dict>
      <key>img_thangsieulon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1158,467},{721,528}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{721,528}}</string>
        <key>sourceSize</key>
        <string>{721,528}</string>
      </dict>
      <key>txt_chitietlsgd.png</key>
      <dict>
        <key>frame</key>
        <string>{{1891,467},{481,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{481,77}}</string>
        <key>sourceSize</key>
        <string>{481,77}</string>
      </dict>
      <key>txt_lsgd.png</key>
      <dict>
        <key>frame</key>
        <string>{{1891,960},{331,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{331,73}}</string>
        <key>sourceSize</key>
        <string>{331,73}</string>
      </dict>
      <key>txt_bangvinhdanh.png</key>
      <dict>
        <key>frame</key>
        <string>{{1976,960},{299,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{299,66}}</string>
        <key>sourceSize</key>
        <string>{299,66}</string>
      </dict>
      <key>img_nohu.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,1303},{661,579}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{661,579}}</string>
        <key>sourceSize</key>
        <string>{661,579}</string>
      </dict>
      <key>img_thanglon.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,627},{542,586}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{542,586}}</string>
        <key>sourceSize</key>
        <string>{542,586}</string>
      </dict>
      <key>txt_thanglon.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,627},{640,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{640,223}}</string>
        <key>sourceSize</key>
        <string>{640,223}</string>
      </dict>
      <key>txt_chondongcuoc.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,1007},{306,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{306,72}}</string>
        <key>sourceSize</key>
        <string>{306,72}</string>
      </dict>
      <key>info/bangcuoc.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,1007},{604,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{604,304}}</string>
        <key>sourceSize</key>
        <string>{604,304}</string>
      </dict>
      <key>txt_huongdan.png</key>
      <dict>
        <key>frame</key>
        <string>{{1767,1007},{211,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,71}}</string>
        <key>sourceSize</key>
        <string>{211,71}</string>
      </dict>
      <key>txt_nohu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1767,1303},{369,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{369,216}}</string>
        <key>sourceSize</key>
        <string>{369,216}</string>
      </dict>
      <key>txt_thangsieulon.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,1684},{903,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{903,223}}</string>
        <key>sourceSize</key>
        <string>{903,223}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>popup.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>popup</string>
    </dict>
  </dict>
</plist>
