<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui-lobby/add-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1503},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>ui-lobby/bangthuong-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1213},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>ui-lobby/bg-nohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1254},{687,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,102}}</string>
                <key>sourceSize</key>
                <string>{687,102}</string>
            </dict>
            <key>ui-lobby/bg-thanglon.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1150},{687,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,102}}</string>
                <key>sourceSize</key>
                <string>{687,102}</string>
            </dict>
            <key>ui-lobby/bg-thangsieulon.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1048},{792,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,97}}</string>
                <key>sourceSize</key>
                <string>{792,97}</string>
            </dict>
            <key>ui-lobby/bghuhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,759},{171,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,33}}</string>
                <key>sourceSize</key>
                <string>{171,33}</string>
            </dict>
            <key>ui-lobby/bochon_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1433},{166,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,68}}</string>
                <key>sourceSize</key>
                <string>{166,68}</string>
            </dict>
            <key>ui-lobby/bottom-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,679},{720,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,367}}</string>
                <key>sourceSize</key>
                <string>{720,367}</string>
            </dict>
            <key>ui-lobby/btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1065},{217,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,63}}</string>
                <key>sourceSize</key>
                <string>{217,63}</string>
            </dict>
            <key>ui-lobby/btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1065},{217,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,64}}</string>
                <key>sourceSize</key>
                <string>{217,64}</string>
            </dict>
            <key>ui-lobby/dongchan_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,1363},{166,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,68}}</string>
                <key>sourceSize</key>
                <string>{166,68}</string>
            </dict>
            <key>ui-lobby/dongchan_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1042},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>ui-lobby/dongle_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1293},{166,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,68}}</string>
                <key>sourceSize</key>
                <string>{166,68}</string>
            </dict>
            <key>ui-lobby/dongle_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1254},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>ui-lobby/freespin-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{507,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,387}}</string>
                <key>sourceSize</key>
                <string>{507,387}</string>
            </dict>
            <key>ui-lobby/heso.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1150},{349,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,188}}</string>
                <key>sourceSize</key>
                <string>{349,188}</string>
            </dict>
            <key>ui-lobby/hu-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,577},{180,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,41}}</string>
                <key>sourceSize</key>
                <string>{180,41}</string>
            </dict>
            <key>ui-lobby/img-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1147},{1,922}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,922}}</string>
                <key>sourceSize</key>
                <string>{1,922}</string>
            </dict>
            <key>ui-lobby/lichsuhu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1442},{220,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,78}</string>
            </dict>
            <key>ui-lobby/lichsuhu_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1442},{220,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,78}</string>
            </dict>
            <key>ui-lobby/line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1042},{21,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,338}}</string>
                <key>sourceSize</key>
                <string>{21,338}</string>
            </dict>
            <key>ui-lobby/line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1543},{22,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,338}}</string>
                <key>sourceSize</key>
                <string>{22,338}</string>
            </dict>
            <key>ui-lobby/lobby/p100.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1358},{562,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,206}}</string>
                <key>sourceSize</key>
                <string>{562,206}</string>
            </dict>
            <key>ui-lobby/lobby/p1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,834},{562,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,206}}</string>
                <key>sourceSize</key>
                <string>{562,206}</string>
            </dict>
            <key>ui-lobby/lobby/p10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,626},{562,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,206}}</string>
                <key>sourceSize</key>
                <string>{562,206}</string>
            </dict>
            <key>ui-lobby/lobby/p2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,418},{562,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,206}}</string>
                <key>sourceSize</key>
                <string>{562,206}</string>
            </dict>
            <key>ui-lobby/lobby/p20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,210},{562,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,206}}</string>
                <key>sourceSize</key>
                <string>{562,206}</string>
            </dict>
            <key>ui-lobby/lobby/p5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2},{562,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,206}}</string>
                <key>sourceSize</key>
                <string>{562,206}</string>
            </dict>
            <key>ui-lobby/move-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1522},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>ui-lobby/move-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,1210},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,72}</string>
            </dict>
            <key>ui-lobby/number/num-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,1374},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1374},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1522},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1522},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1522},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1522},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1522},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1284},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1522},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1358},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,978},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1503},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,932},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>ui-lobby/number/num-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1522},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1522},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1522},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1522},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1522},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1522},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/number/num-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1522},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui-lobby/popup-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1340},{573,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,100}}</string>
                <key>sourceSize</key>
                <string>{573,100}</string>
            </dict>
            <key>ui-lobby/popup-lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{710,1150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,1150}}</string>
                <key>sourceSize</key>
                <string>{710,1150}</string>
            </dict>
            <key>ui-lobby/popup-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,2},{573,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,49}}</string>
                <key>sourceSize</key>
                <string>{573,49}</string>
            </dict>
            <key>ui-lobby/popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{711,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,675}}</string>
                <key>sourceSize</key>
                <string>{711,675}</string>
            </dict>
            <key>ui-lobby/sub-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1503},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>ui-lobby/tatca_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1042},{166,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,68}}</string>
                <key>sourceSize</key>
                <string>{166,68}</string>
            </dict>
            <key>ui-lobby/tatca_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1154},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>ui-lobby/vinhdanh-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1358},{209,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,79}}</string>
                <key>sourceSize</key>
                <string>{209,79}</string>
            </dict>
            <key>ui-lobby/vinhdanh_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1442},{220,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,78}</string>
            </dict>
            <key>ui-lobby/vinhdanh_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1065},{220,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-lobby.png</string>
            <key>size</key>
            <string>{2043,1581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f2eae1dd70495a699dcb174b88feb0e:1/1$</string>
            <key>textureFileName</key>
            <string>ui-lobby.png</string>
        </dict>
    </dict>
</plist>